body {
    background-image: url("https://scontent.ftbs6-1.fna.fbcdn.net/v/t1.0-9/111385665_2815213095380797_4387278447514923150_o.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_ohc=nsKeGeq6aQ8AX9tDfcN&_nc_ht=scontent.ftbs6-1.fna&oh=1cabce6944ddb06bee29ddf985a389e6&oe=5F99255D");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 26px;
    margin: 20px;
    background-color: rgba(250, 250, 250, 0.5);
    padding: 15px;
    border-radius: 20px;
    color: black;
}

.main-container {
    width: 100%;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input {
    margin-top: 20px;
    border-radius: 50px;
    letter-spacing: 0.7px;
    width: 200px;
    font-size: large;
    outline: none;
    text-align: center;
}

button {
    margin: 20px 0;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
    font-size: large;
    letter-spacing: 0.7px;
}